@font-face {
  font-family: "Glacial Indifference";
  src: url("./glacial/bold.woff2") format("woff2"),
    url("./glacial/bold.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Glacial Indifference";
  src: url("./glacial/italic.woff2") format("woff2"),
    url("./glacial/italic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Glacial Indifference";
  src: url("./glacial/regular.woff2") format("woff2"),
    url("./glacial/regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
